.homepage-header {
    display: flex;
}

.header-content {
    flex:  1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

 .header-content h1{
    font-weight:  800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: aquamarine;
}

 .header-content h3{

    color: aqua;
}

.header-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}

h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #808080; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }